<h1>Treubuilder Account System</h1>

<div>
    <h2>{{.AccountSystem.Name}}</h2>
    <h3>Accounts</h2>
        <ul>
            {{range .AccountSystem.Accounts}}
            <li>
                {{.Owner}} <a href="/accounts/{{.ID}}">Show | </a>
                <a href="/accounts.js/{{.ID}}">Show JS</a>
            </li>
            {{end}}
        </ul>
</div>

<div>
    <h3>Selected: {{.Account.Owner}}</h3>
    <h3>Bookings</h3>
    <ul>
        {{range .Account.Bookings}}
        <li>
            Amount {{.Amount}}€
        </li>
        {{end}}
    </ul>
</div>